

img {
  height: 25em;
}

.keySection {
  border: 5px black solid;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

body, .keySection {
  display: flex;
  justify-content: center;
  flex-direction: column
}

em {
  color: #800020;
  text-shadow: 2px 2px green;
}